.web-info{
    background-color: #fceae8;
}
.categories img{
width: 100px;
}
.web-btn-buy-now{
    color: white;
    background-color:#ff277c ;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    
}